form(method="get")

	input(name="start_date", type="date", value=start_date, max=cur_date)
	input(name="end_date", type="date", value=end_date, max=cur_date)

	button.btn.waves-effect.waves-light(type="submit") Select
		i.material-icons.right send