extends patterns/layout.jade

block content
	.wrap
		nav
			.nav-wrapper
				.center
					a(href="#").breadcrumb Главная

		section.main-section.z-depth-1.container.section
			.row
				.col.s8.block-info
					h1 ЭСУП

					p.flow-text.
						Электронная система учета посетителей (ЭСУП) - это совокупность программно аппаратных, технических средств, главной задачей которых является - учет посещений в электронном виде.

				.col.s3.block-links
					h1 ПОСЕЩАЕМОСТЬ
					a(href="/users").waves-effect.waves-light.btn-large.red.lighten-1
						span ЛЮДИ
						i.material-icons.left people
					br
					a(href="/rooms").waves-effect.waves-light.btn-large.red.lighten-1
						span КОМНАТЫ
						i.material-icons.left home