extends patterns/layout.jade

block content
	.wrap
		section(id="main-section", class="teal lighten-2 section")
			.container
				.row
					h1(class="text-white col s12 center") ЭСУП

					p.text-black(class="col s8 center offset-s2 flow-text").
						Электронная система учета посетителей (ЭСУП) - это совокупность программно аппаратных, технических средств, главной задачей которых является - учет посещений в электронном виде.

				.row.center
					a(href="/users", class="waves-effect waves-light btn-large red lighten-1") 
						span ЛЮДИ
						i.material-icons.left people

				.row.center
					a(href="/rooms", class="waves-effect waves-light btn-large red lighten-1") 
						span КОМНАТЫ
						i.material-icons.left home