extends patterns/layout.jade

block content
	.wrap
		section(id="main-section", class="teal lighten-2 section")
			.container
				.row
					h1(class="col s12 center") ESCV

					p(class="col s8 center offset-s2 flow-text").
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quod eum ab possimus ipsa. Assumenda, fuga adipisci nesciunt illum debitis fugit officia quasi accusamus facilis ratione. Aliquid suscipit, hic mollitia!

					.col.s12.center
						a(class="waves-effect waves-light btn-large red lighten-1")
							i(class="material-icons") people