extends ./patterns/layout.jade

block content
	.wrap
		section(id="main-section", class="teal lighten-2 section")
			.container
				.row
					h1 PEOPLE

					.col.s6
						ul.collection
							li.collection-item.avatar

								img(src="../static/img/nevskiy!.jpg", alt="", class="circle")
								span.title Alx Nevskiy!

								p Do you speak Engish?

								a(href="#!" class="secondary-content")
									i.material-icons grade
					.col.s6
						ul.collection
							li.collection-item.avatar

								img(src="../static/img/nevskiy!.jpg", alt="", class="circle")
								span.title Alx Nevskiy!

								p Do you speak Engish?

								a(href="#!" class="secondary-content")
									i.material-icons grade
					.col.s6
						ul.collection
							li.collection-item.avatar

								img(src="../static/img/nevskiy!.jpg", alt="", class="circle")
								span.title Alx Nevskiy!

								p Do you speak Engish?

								a(href="#!" class="secondary-content")
									i.material-icons grade
					.col.s6
						ul.collection
							li.collection-item.avatar

								img(src="../static/img/nevskiy!.jpg", alt="", class="circle")
								span.title Alx Nevskiy!

								p Do you speak Engish?

								a(href="#!" class="secondary-content")
									i.material-icons grade
					.col.s6
						ul.collection
							li.collection-item.avatar

								img(src="../static/img/nevskiy!.jpg", alt="", class="circle")
								span.title Alx Nevskiy!

								p Do you speak Engish?

								a(href="#!" class="secondary-content")
									i.material-icons grade
					.col.s6
						ul.collection
							li.collection-item.avatar

								img(src="../static/img/nevskiy!.jpg", alt="", class="circle")
								span.title Alx Nevskiy!

								p Do you speak Engish?

								a(href="#!" class="secondary-content")
									i.material-icons grade
					.col.s6
						ul.collection
							li.collection-item.avatar

								img(src="../static/img/nevskiy!.jpg", alt="", class="circle")
								span.title Alx Nevskiy!

								p Do you speak Engish?

								a(href="#!" class="secondary-content")
									i.material-icons grade
					.col.s6
						ul.collection
							li.collection-item.avatar

								img(src="../static/img/nevskiy!.jpg", alt="", class="circle")
								span.title Alx Nevskiy!

								p Do you speak Engish?

								a(href="#!" class="secondary-content")
									i.material-icons grade