extends ./patterns/layout.jade

block content
	.wrap
		section(id="main-section", class="teal lighten-2 section")
			.container
				.row
					h1.text-white PEOPLE

					ul.collection
						each man in people
							a(href="people/#{man.id}")
								li.collection-item.avatar
									img(src=man.img, alt="man", class="circle")
									span.title= man.name
									p= man.description