extends ./patterns/layout.jade

block content
	.wrap
		section(id="main-section", class="teal lighten-2 section")
			.container
				.row
					h1 ROOMS

					.col.s6
						ul.collection
							li.collection-item.avatar

								img(src="../static/img/stolovka.jpg", alt="", class="circle")
								span.title The best dining room in the world!

								p Burgers... With Pasta?!

								a(href="#!" class="secondary-content")
									i.material-icons grade
					.col.s6
						ul.collection
							li.collection-item.avatar

								img(src="../static/img/stolovka.jpg", alt="", class="circle")
								span.title The best dining room in the world!

								p Burgers... With Pasta?!

								a(href="#!" class="secondary-content")
									i.material-icons grade
					.col.s6
						ul.collection
							li.collection-item.avatar

								img(src="../static/img/stolovka.jpg", alt="", class="circle")
								span.title The best dining room in the world!

								p Burgers... With Pasta?!

								a(href="#!" class="secondary-content")
									i.material-icons grade
					.col.s6
						ul.collection
							li.collection-item.avatar

								img(src="../static/img/stolovka.jpg", alt="", class="circle")
								span.title The best dining room in the world!

								p Burgers... With Pasta?!

								a(href="#!" class="secondary-content")
									i.material-icons grade
					.col.s6
						ul.collection
							li.collection-item.avatar

								img(src="../static/img/stolovka.jpg", alt="", class="circle")
								span.title The best dining room in the world!

								p Burgers... With Pasta?!

								a(href="#!" class="secondary-content")
									i.material-icons grade
					.col.s6
						ul.collection
							li.collection-item.avatar

								img(src="../static/img/stolovka.jpg", alt="", class="circle")
								span.title The best dining room in the world!

								p Burgers... With Pasta?!

								a(href="#!" class="secondary-content")
									i.material-icons grade
					.col.s6
						ul.collection
							li.collection-item.avatar

								img(src="../static/img/stolovka.jpg", alt="", class="circle")
								span.title The best dining room in the world!

								p Burgers... With Pasta?!

								a(href="#!" class="secondary-content")
									i.material-icons grade
					.col.s6
						ul.collection
							li.collection-item.avatar

								img(src="../static/img/stolovka.jpg", alt="", class="circle")
								span.title The best dining room in the world!

								p Burgers... With Pasta?!

								a(href="#!" class="secondary-content")
									i.material-icons grade