extends ./patterns/layout.jade

block content
	.wrap
		section(id="main-section", class="teal lighten-2 section")
			.container
				.row
					h1.text-white ROOMS
					
					ul.collection
						each room in rooms

							a(href="rooms/#{room.id}")
								li.collection-item.avatar

									img(src=room.img, alt="room", class="circle")
									span.title= room.name
									p= room.description