form(method="get")
	.daterange.daterange--double

	input#start_date_input(name="start_date", type="hidden", value=start_date, max=cur_date)
	input#end_date_input(name="end_date", type="hidden", value=end_date, max=cur_date)