extends ./patterns/layout.jade

block include_css
	link(rel="stylesheet", href="../../static/css/object.css")

block content
	.wrap
		nav
			.nav-wrapper
				.center
					a(href="/").breadcrumb Главная
					a(href="/rooms").breadcrumb Комнаты
					a(href="#").hide-on-small-only.breadcrumb Добавить комнату

		section.object-section.z-depth-1.container.section
			.row
				form(method="POST").col.s8.offset-s2
					h1.flow-text(style="margin-left: -10px") Добавить новую комнату:
					.row
						.file-field.input-field
							.btn
								span SELECT IMAGE
								input(type="file", name="image")
							.file-path-wrapper
								input.file-path.validate
						.input-field
							i.material-icons.prefix label
							input(id="label", class="validate", placeholder="Название", name="label")

						.input-field
							i.material-icons.prefix info_outline
							input(id="floor", class="validate", placeholder="Этаж", name="floor")
						.input-field
							i.material-icons.prefix info_outline
							input(id="case", class="validate", placeholder="Корпус", name="case")
						.input-field
							input(type="submit", class="waves-effect waves-light btn-large col s12") Добавить
